.event-card {
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  background-color: hsla(213, 97%, 87%, 1);
}
.event-info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.event-card-content {
  margin-bottom: 10px;
}
.event-card-content h1 {
}
.event-card-content p {
  font-family: var(--font-heading);
  color: black;
}
.event-description {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 15px;
}
.event-description p {
  font-family: var(--font-heading);
  color: rgb(0, 0, 0);
}
.event-card-action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-card-action a {
  display: flex;
  width: 95%;
  margin: 2% 0;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-family: var(--font-heading);
  background-color: var(--color-primary);
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 754px) {
  .event-description p {
    font-family: var(--font-heading);
    color: black;
  }
  .event-description {
    margin-left: 20px;
  }
  .event-card-content p {
    font-family: var(--font-heading);
    color: rgb(44, 44, 44);
  }
}
