.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}
.menu-overlay {
  display: block;
  position: fixed;
  bottom: 10px;
  height: 50vh;
  width: 95vw;
  border-radius: 15px;
  margin-inline: auto;
  z-index: 100;
  border: 2px solid hsl(0, 0%, 95%);
  transform: translateY(120%);
  transition: transform 200ms ease-in ;
}
.menu-pop{
  transform: translateY(0%);
}
.link-container {
  display: flex;
  gap: 10px;
  
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 40px;
  transition: all;
}


.link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
}
.navbar-container {
  position: relative;
  height: 55px;
  width: 95%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  margin-top: 2%;
}
.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: var(--font-display);
  text-decoration: none;
  color: var(--color-primary);
}
.logoBH{
  height: 70px;  
}
.navbar-icon {
  color: var(--color-primary);
  font-size: xx-large;
  margin-right: 1rem;
}
.nav-links {
  display: none;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu-icon {
  font-size: x-large;
}

@media screen and (min-width: 768px) {
  .navbar-container {
    margin-top: 1%;
    height: cal 70px;
    width: 70%;
    width: calc(min(90%,900px));
    padding-inline: 40px;
    border-radius: 100px;
    overflow: hidden;
    background: hsla(0, 0%, 100%, 0.9);
  }

 
  .navbar-logo {
    font-size: large;
  }
  .nav-links {
    color: #0f0f0f;
    display: flex;
    /* width: 70%; */
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    
  }
  .nav-link {
    text-decoration: none;
    color: #0f0f0f;
    font-size:  medium;
    width: fit-content;
    text-align: center;
    /* background-color: blueviolet; */
    color: var(--color-primary);
  }
  .menu {
    display: none;
  }
  .menu-overlay{
    transform: translateY(125%);
  }
}
