.N-link{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    color: var(--color-primary);
    transform: scale(1);
    font-weight: bold;
    font-size: 16px;
    transition: transform background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.N-link:hover{
    background-color: #ffffff;
    transform: scale(1.05);
}
.N-link:active{
    background-color: var(--color-primary);
    color: white;
    transform: scale(1);
}
.N-link-m{
    box-shadow: rgba(0, 0, 0, .05) 1px 1px 10px 0px ;
    width: 100%;
    /* height:80px; */
    display: lex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-primary);
    background-color: white;
    padding: 1rem 2rem;
    /* padding-left: 2rem; */
}
.N-link-m span {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.N-link-m:hover{
    background-color: #ffffff;
    transform: scale(1);
}
.N-link-m:active{
    /* color: ; */
    background-color:var(--color-primary) ;
}