.terms-container{
    height: 95vh;
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    max-width: calc(min(800px, 90vw));
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.terms-container h3{
    /* margin-top: 30px; */
    color: var(--color-primary);
}
.font-sm{
    font-family: 'sans-serif';
    max-width: 100%;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #707070;
    /* background-color: aqua; */
    border-radius: 20px;
}
.modal-checkbox-label{
    margin-left: 10px;
    font-size: 0.8rem;
    color: #202020;
    justify-content: flex-start;
}
.btn-modal{
    background-color: var(--color-primary);
    border-radius: 30px;
    padding: 15px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}
.btn-modal:hover{
    background-color: var(--color-primary-dark);
}
.btn-modal:active{
    border: 0;
    transition: scale(0.9);
}

@media screen and (min-width: 600px){
    .terms-container{
        height: auto;
        padding: 40px;
    }
    .font-sm{
        
        color: #242424;
    }
    .terms-container h3{
        margin-top: 0;
    }
    .btn-modal{
        width: 300px;
        padding: 15px;
    }
}
