.text-card{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(253, 251, 251);

}
.text-card h1{
    
    font-size: 2rem;
    font-family: var(--font-subtitle);
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 0;
}
.text-card p{
    display: block;
    min-width: 100%;
    font-size: 1.05rem;
    font-weight: 300;
    color: var(--color-black);
    font-family: var(--font-heading);
}
@media screen and (min-width: 768px) {
    .text-card{
        border-radius: 30px;
    }
    .text-card p{
        font-weight: 500;
        color: rgb(37, 37, 37);
    }
}
