.projects-container{
    padding: 80px 10px 10px 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-background-red);
}

.projects-grid{
    display: grid;
    grid-gap: 20px;
    justify-items:start;
    align-content: center;
    padding-inline: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.anual-projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 754px){
    .projects-grid{
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}
    